{%extends "doubts/base.html"%}
{%load static%}
{%block content%}
<link rel="stylesheet" type="text/css" href="{% static 'doubts/style.css' %}">
<div>
    <h1>Privacy Policy</h1>
    <h5><b>INFORMATION WE COLLECT</b></h5>
    <p> <b>Information we collect about you from third parties</b> </p>
    <p>If you choose to connect with us through a social media platform, we may, through the social media platform
        connection, collect additional information from you, such as your user names and email address. This is
        necessary to prevent the misuse of the site by spam accounts.</p>

    <h5><b>WHO WE SHARE YOUR INFORMATION WITH</b></h5>
    <p>No third party :)</p>
<h5> PRIVACY POLICY AMENDMENTS </h5>
<p> We may amend or update this policy from time to time and will notify you of any material changes to this policy.</p>
</div>
{%endblock content %}
