{%load static%}

<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'doubts/style.css' %}">
    <script src="https://kit.fontawesome.com/c566c23470.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link href="{% static 'doubts/style.css' %}" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Askoro</title>
  </head>
  <body>
    <div style="min-height: 100%;">
    <!--Navbar Starts-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

      <a class="navbar-brand" href="{%url 'doubts:index'%}"><h>Askoro</h></a>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">

        </div>
      <div class="navbar-nav ">
        {%if user.is_authenticated%}
            <a class="btn btn-outline-info nav-link" href="{% url 'doubts:create-question' %}" style="margin-right:25px">Ask Question</a>
            <a class="nav-link" href="{%url 'doubts:user-index' user.id%}">{{user.username}}</a>
            <a class="nav-link " href="{%url 'logout'%}"><small class="text-muted"><i class="fas fa-sign-out-alt"></i> Logout</small></a>
          {%else%}
            <a class="nav-link" href="{%url 'signup'%}">Signup</a>
            <a class="nav-link" href="{%url 'login'%}"><i class="fas fa-sign-in-alt"></i> Login</a>
          {%endif%}
      </div>
      </div>
    </nav>
        <!--Navbar Ends-->

    <main role="main" class="container">
        <div class="col-md8 md-8 mt-8" style="padding-top: 20px;padding-bottom: 20px;overflow: hidden;">
            {%if messeages%}
                {%for message in messages%}
                <div class="ml-8 alert alert-{{message.tags}}">
                    {{message}}
                  </div>
                {%endfor%}
            {%endif%}

            {%block content%}

            {%endblock%}
        </div>

    </main>
  </div>
    <footer class="page-footer font-small pt-4" style='width: 100%;
    height: 200px;
    margin-top: 30px;
    margin-bottom: 0px;
    z-index: 12;
    bottom:0'></footerclass>
      <div class="footer-copyright text-center py-3">
        Made by <a href="https://github.com/Arhaan">Arhaan Ahmad</a>
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
